# Byte-compiled
__pycache__/
*.py[cod]

# Distribution / packaging
.env/
env/
venv/
build/
dist/
site/
eggs/
*.egg-info/

# Unit test / coverage reports
.nox/
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
coverage.xml

# Editor config
.idea
.tags
