recursive-exclude .github *
recursive-exclude docs *
recursive-exclude tests *
exclude *.yaml
exclude *.xml
exclude flake.*
exclude noxfile.py
include README.md
include CHANGELOG.md
include LICENSE.md
include respx/py.typed
